/* RESET (must) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f5f5f5;
  color: #333;
   display: flex;
  flex-direction: column;
}

/* HEADER / NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
}

.header img {
  height: 50px;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #00adb5;
}

/* MAIN */
main {
  padding: 5px;
  flex: 1;
}

/* HERO SECTION */
.hero {
  height: 350px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* PROJECT SECTION */
.project {
  margin-top: 20px;
}

/* GRID (important part) */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* CARD */
.project-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}

.project-card h3 {
  margin-top: 10px;
}

/* ABOUT */
.about {
  max-width: 800px;
  margin: auto;
}

.about h1 {
  margin-bottom: 15px;
}

/* CONTACT */
.contact {
  max-width: 600px;
  margin: auto;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 10px;
  background: #00adb5;
  color: white;
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background: #007c80;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
  margin-top: 40px;
  align-items: baseline;
}

/* RESPONSIVE (very important) */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    gap: 15px;
  }
}
